name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Download ryu.zip
        run: wget https://github.com/easierbycode/sf2/raw/main/ryu.zip

      - name: Unzip ryu.zip
        run: unzip ryu.zip -d ryu_contents

      - name: Deploy to gh-pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./ryu_contents/ryu
